@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/jade.css";
@import "@radix-ui/colors/green.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.layout {
  width: 100%;
  height: 100svh;
  background-color: #0d0d0d;
  overflow: scroll;
}

.right-side {
  display: flex;
  width: 100%;
  height: fit-content;
  max-width: 840px;
  max-height: 840px;
  /* border-radius: var(--4, 12px); */
  border: 1px solid var(--disabled-content, #5a6165);
  /* background: var(--neutral-2, #1b1b1f);
  background-color: var(--neutral-2, #1b1b1f); */
}

.print {
  color: var(--default-white, #fff);
  font-family: "SF Pro", sans-serif;
  font-weight: 900;
  /* line-height: 80px !important; */
}

.box {
  background: var(--background-default, #0d0d0d);
  color: #fff;
}

.no-bg {
  background-color: transparent;
}

.full-width {
  width: 100%;
}

/* .result {
  align-items: center;
} */

.separator {
  width: 1px;
  max-height: 840px;
  max-width: 840px;

  height: 100%;
  background-color: var(--neutral-2, #1b1b1f);
  /* margin: 1rem 0; */
}

@media screen and (min-width: 1280px) {
  .right-side {
    display: flex;
    height: fit-content;
    /* max-width: 400px; */
    min-height: 840px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 900px) {
  .right-side {
    display: flex;
    width: 100%;
    height: fit-content;
    max-width: 400px;
    min-height: 400px;
  }
}

@media screen and (max-width: 900px) and (min-width: 461px) {
  .right-side {
    display: flex;
    width: 100%;
    height: fit-content;
    max-width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 461px) {
  .text-area {
    width: 100%;
    max-width: 840px;
    border-radius: var(--4, 12px);

    background: var(--neutral-2, #1b1b1f);
    color: #fff;
    height: 100px;
  }

  .layout {
    width: 100vw;
    height: 100vh;
    background-color: #0d0d0d;
    overflow: scroll;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .left-side {
    width: 100%;
  }

  .right-side {
    padding-bottom: 60px;
    max-width: 400px;
    min-height: 400px;
  }
}

.text-area {
  width: 100%;
  max-width: 400px;
  border-radius: var(--4, 12px);
  border: 1px solid var(--disabled-content, #5a6165);
  background: var(--neutral-2, #1b1b1f);
  color: #fff;
  height: 100px;
}

.link {
  color: var(--jade-11, #fff);
  text-decoration: underline;
  font-size: 1.2rem;
  cursor: pointer;
  width: fit-content;

  &:hover {
    color: var(--jade-10, #fff);
  }
}

.author-text-area {
  width: 100%;
  max-width: 400px;

  border-radius: var(--4, 12px);
  border: 1px solid var(--disabled-content, #5a6165);
  background: var(--neutral-2, #1b1b1f);
  color: #fff;
}

.button {
  border-radius: var(--4, 12px);
  max-width: 400px;
}

/* reset */
button {
  all: unset;
}

.ToggleGroup {
  display: inline-flex;
  background-color: var(--mauve-6);
  border-radius: 4px;
  box-shadow: 0 2px 10px var(--black-a7);
  width: fit-content;
}

.left-side {
  max-width: 840px;
}

.ToggleGroupItem {
  background-color: white;
  color: var(--mauve-11);
  height: 35px;
  width: fit-content;
  display: flex;
  font-size: 15px;
  line-height: 1;
  align-items: center;
  justify-content: center;
  margin-left: 1px;
  padding: 0 16px;
}
.ToggleGroupItem:first-child {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.ToggleGroupItem:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.ToggleGroupItem:hover {
  background-color: var(--violet-3);
}
.ToggleGroupItem[data-state="on"] {
  background-color: var(--green-5);
  color: var(--jade-11);
}
.ToggleGroupItem:focus {
  position: relative;
  box-shadow: 0 0 0 2px black;
}
